<!DOCTYPE html>
<html>
<head>
<title>BUSy</title>

  {% load static %}

  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" type="text/css" href="{% static 'CSS/index_style.css' %}"/>
</head>
<body>

<!-- main body -->
<div class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Welcome to BUSy</h1>
        <hr>
        <h2>Are you...</h2>
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <a type="button" class="btn btn-lg btn-primary" href="/onthego"><img src="{% static 'images/runningman.PNG'%}" alt="runningman"> <hr>On The Go</a>
        <p>Buses coming soon.</p>
      </div>
      <div class="col-sm-4">
        <a type="button" class="btn btn-lg btn-primary" href="/theplanner"><img src="{% static 'images/planner.PNG'%}" alt="planner"> <hr>The Planner</a>
        <p>Plan your trip ahead.</p>
      </div>
      <div class="col-sm-4">
        <a type="button" class="btn btn-lg btn-primary" href="/tourist"><img src="{% static 'images/tourist.PNG'%}" alt="tourist"> <hr>Tourist</a>
        <p>Find your way around the city.</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
