<br/>
    <div class="table-condensed" id="inputbox">

        <table class="table table-condensed">
            <thead>
            <tr>

                {% if persona != 'explorer' %}
                <th>Bus</th>
                {% endif %}

                <th>Start</th>
                <th>End</th>

                {% if persona == 'planner' or persona == 'explorer' %}
                <th>Date & Time</th>
                {% endif %}

            </tr>
            </thead>

            <tbody>
            <tr>
                {% if persona != 'explorer' %}
                <td>{{ busNum }}</td>
                {% endif %}

                <td>{{ from }}</td>
                <td>{{ to }}</td>

                {% if persona == 'planner' or persona == 'explorer' %}
                <td>{{ date }} {{ time }}</td>
                {% endif %}
            </tr>
            </tbody>
        </table>
    </div>

{% if error == 0 %}
{% if persona == 'planner' or persona == 'onthego' %}
<div class="table-condensed" id="suggestionbox">
        <table class="table table-condensed">
            <thead>
            <tr>
                <span class="sr-only">Departure time</span>
                <th>Departure</th>
                <span class="sr-only">Duration</span>
                <th>Duration</th>



                {% if persona == 'planner' %}
                    {% if bestJourneyTime %}
                    <th>Flexi trip: Departure</th>
                    <th>Duration</th>
                    {% else %}
                    <th>Flexi trip</th>
                    {% endif %}
                {% endif %}

            </tr>
            </thead>
            <tbody>
            <tr>
                 {% if persona == 'planner' %}
                <td>{{ leave_time }}</td>
                {% endif %}

                {% if persona == 'onthego' %}
                <td> {{ bus1 }}

                    {% if bus2 %}

                    <br>{{ bus2 }}
                    {% endif %}

                    {% if bus3 %}

                    <br>{{ bus3 }}</td>
                    {% endif %}

                {% endif %}

                {% if persona != 'explorer' %}
                    {% if journeyTime.h %}
                    <td>{{ journeyTime.h }} hours, {{ journeyTime.m }} minutes</td>

                    {% elif journeyTime.m %}
                    <td>{{ journeyTime.m }} minutes</td>

                    {% else %} <!-- have hours, minute & seconds -->
                    <td>{{ journeyTime.s }} seconds</td>
                    {% endif %}
                {% endif %}


                {% if persona == 'planner' %}


                    {% if bestJourneyTime %}
                    <td>{{ bestStartTime }}</td>
                    <td> {{ bestJourneyTime }}</td>
                    {% else %}
                    <td>{{ bestStartTime }}</td>
                    {% endif %}
                {% endif %}





            </tr>
            </tbody>
        </table>
</div>
{% endif %}
{% endif %}

{% if error == 0 and persona == 'explorer' %}
<div class="row">
    <div class="col-sm-12" id="directions-result">

        {{ jsonResponse }}

    </div>
</div>
{% endif %}


{% if error != 0 %}
<!-- there's an error, display error messages -->
<div class="row">
    <div class="col-sm-12">
        <ul class="list-group">
            <h3>Something went wrong...</h3>
            <li class="list-group-item">{{ error_1 }}</li>
            <li class="list-group-item">{{ error_2 }}</li>
            <li class="list-group-item">{{ error_3 }}</li>
        </ul>
    </div>
</div>
{% endif %}
