<br/>
<div class="row">
  <div class="col-sm-6">
    <h2>Your Input</h2>
    <ul class="list-group">
      <li class="list-group-item">Bus number: {{ busNum }}</li>
      <li class="list-group-item">From: {{ from }}</li>
      <li class="list-group-item">To: {{ to }}</li>
    </ul>
  </div>

  {% if error == 0 %}

  <div class="col-sm-6">
    <ul class="list-group">
      <h2>Our Estimation</h2>

      {% if journeyTime.h %}
      <li class="list-group-item">Journey time: {{ journeyTime.h }} hours, {{ journeyTime.m }} minutes, {{ journeyTime.s }} seconds</li>
      {% elif journeyTime.m %}
      <li class="list-group-item">Journey time: {{ journeyTime.m }} minutes, {{ journeyTime.s }} seconds</li>
      {% else %} <!-- have hours, minute & seconds -->
      <li class="list-group-item">Journey time: {{ journeyTime.s }} seconds</li>
      {% endif %}

      <li class="list-group-item">Journeytime: {{ journeyTime }}</li>

      <li class="list-group-item">Next buses at this stop:</li>
      <li class="list-group-item">@ {{ bus1 }}</li>
      {% if bus2 %}
      <li class="list-group-item">@ {{ bus2 }}</li>
      {% endif %}

      {% if bus3 %}
      <li class="list-group-item">@ {{ bus3 }}</li>
      {% endif %}
    </ul>
  </div>

  {% else %}
  <!-- there's an error, display error messages -->
  <div class="col-sm-6">
    <ul class="list-group">
      <h2>Our Estimation</h2>
      <li class="list-group-item">{{ error_1 }}</li>

      <li class="list-group-item">{{ error_2 }}</li>
      <li class="list-group-item">{{ error_3 }}</li>
    </ul>
  </div>

  {% endif %}

</div>