<!DOCTYPE html>
<html>
<head>
<title>BUSy</title>

  {% load static %}

  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" type="text/css" href="{% static 'CSS/global_style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/response_style.css' %}" />
</head>
<body>

<!-- navigation bar -->
<nav class="navbar navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Your Persona</span> <!--for visually impaired-->
        <span class="glyphicon glyphicon-user"></span>
      </button>
      <a href="/" class="navbar-brand">BUSy</a>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/onthego">On The Go</a></li>
        <li><a href="/theplanner">The Planner</a></li>
        <li><a href="/tourist">Tourist</a></li>
        <li class="divider"></li>
        <li><a href="#">What are personas?</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- main content will be inserted between the templating tags below -->

<div class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>TESTING PAGE</p>
      </div>
    </div>
    <div class="row">
      <div id="error_message_1" class="col-sm-4" style="background-color:white;">
        <p>Your current location: </p>
      </div>
      <div id="error_message_2" class="col-sm-4" style="background-color:white;">
        <p>Displaying stops within ~ 1km</p>
      </div>
        <div class="col-sm-4" style="background-color:white;">
        <div id="map_test" style="width:100%; height:400px;">
          <!-- google maps go here -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<footer class="page-footer blue1">
  <div class="container-fluid text-center" style="padding-bottom:auto;">
    <div class="row">
      <div class="col-sm-6">
        <h5 class="text-uppercase">BUSy</h5>
        <p>Produced by T3DB.</p>
      </div>
      <div class="col-sm-6">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">About</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center blue2">
    © 2018 Copyright: <a href="#">BUSy Team</a>
  </div>
</footer>



<!-- map scrips -->
<script>
  'use strict';

var map;

//Loads the map
function initMap(){
    var mapDiv = document.getElementById("map_test");
    var mapOptions = {
        center: new google.maps.LatLng(53.3498, -6.2603),
        zoom: 14
    };

    map = new google.maps.Map(mapDiv, mapOptions);
}


var markers = [];

//Makes a marker for a stop and adds onlick functionality
function addMarkers(latlong, infowindow, infowindow_content, stopid, user = false){
    var marker = new google.maps.Marker({
        position: latlong,
        title: "Bus Stop No. "+stopid,
        draggable: false,
        map: map
    });

    //Add the pop up box to marker
    google.maps.event.addListener(marker, 'click', function(content){
        infowindow.setContent(infowindow_content);
        infowindow.open(map, marker);
    });

    if (user === false){
      markers.push(marker);
    } else {
      marker.title = stopid; //This will just display the user string "You Are Here" instead of number
      marker.setAnimation(google.maps.Animation.BOUNCE);
    }
}

//Responds to onclick event when from button is clicked on a marker
function fromButton(element){
    console.log(element.id.slice(5));
    console.log(element.innerHTML);

    //$( "#from" ).value = element.id.slice(5);
    document.getElementById('from').value = element.id.slice(5);
}

//Responds to onclick event when to button is clicked on a marker
function toButton(element){
    console.log(element.id.slice(3));
    console.log(element.innerHTML);

    //document.getElementById('to').value = element.id.slice(3);
}

//Populate the map with the markers
$( window ).on( "load", function() {
    console.log( "Page ready!!" );

    var infowindow = new google.maps.InfoWindow();

    var errorMSG_1 = document.getElementById("error_message_1");
    var errorMSG_2 = document.getElementById("error_message_2");
    var userPosition = {lat: 53.3498, lng: -6.2603}; //Will be center of Dublin by default if no user position recieved...

    //get and display the user location
    if (navigator && navigator.geolocation) {
      console.log("Got location");
      errorMSG_1.innerHTML += "Got location";
      navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
      console.log("Failed to get location");
      errorMSG_2.innerHTML += "Geolocation is not supported by this browser. We could not find your location.";
    }

    function showPosition(position) {

      let infowindow_content = "<b>You Are Here</b>";

      userPosition.lat = position.coords.latitude;
      userPosition.lng = position.coords.longitude;
      addMarkers(new google.maps.LatLng(userPosition.lat, userPosition.lng), infowindow, infowindow_content, "You Are Here", true);
      map.panTo({lat: userPosition.lat, lng: userPosition.lng});

      errorMSG_2.innerHTML += "Latitude: " + userPosition.lat + 
      "<br>Longitude: " + userPosition.lng;
    }

    //populate the markers around the user
    $.getJSON("/busstops", function(busData){

        _.forEach(busData.results, function(bus_stop){
            //console.log(bus_stop.operators[0].routes);

            let user_radius = 0.01;

            if (bus_stop.latitude < (userPosition.lat + user_radius) && bus_stop.latitude > (userPosition.lat - user_radius)
             && bus_stop.longitude < (userPosition.lng + user_radius) && bus_stop.longitude > (userPosition.lng - user_radius)){
              let infowindow_content = "<b>Bus Stop No: </b>"+bus_stop.stopid
                                  +"<br><br>"
                                  +"<b>Name:</b> "+bus_stop.fullname
                                  +"<br><br>"
                                  +"<b>Routes serving this stop:</b>"
                                  +"<br><br>"+bus_stop.operators[0].routes
                                  +"<br><br>"
                                  +"<button type=\"button\" id=\"from_"+bus_stop.stopid+"\" onclick=\"fromButton(this)\">From "+bus_stop.stopid+"</button>"
                                  +"<br><br>"
                                  +"<button type=\"button\" id=\"to_"+bus_stop.stopid+"\" onclick=\"toButton(this)\">To "+bus_stop.stopid+"</button>";

              addMarkers(new google.maps.LatLng(bus_stop.latitude, bus_stop.longitude),
                          infowindow,
                            infowindow_content,
                              bus_stop.stopid);
            }
        });

    }).done(function() {

        console.log("Done!!"); //for DEBUGING
        //var markerCluster = new MarkerClusterer(map, markers, {
        //    imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
        //});

        //alert("Zoom in on the map to find your location and choose the closest bus stop. Click on the cluster markers to reveal more stops.");

    }).fail(function() {

        console.log("Failr"); //for DEBUGING
        alert("Warnign: map markers could not load...");

    }).always(function(){

        console.log("Always...!"); //for DEBUGING

    });

  //addMarkers(new google.maps.LatLng(53.3498, -6.2603), infowindow, 5, "testName", [5,6,7,8,8]);

    //console.log(markers[0]);
});
</script>
<script src="{% static 'JS/lodash.js '%}"></script>
<!-- <script src="{% static 'JS/map.js' %}"></script> -->
<script src="{% static 'JS/autocomplete.js' %}"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXmxcpjGKrWHVNpa0s865Eq69p9s1PsHg&callback=initMap" type="text/javascript"></script>
</body>
</html>
