{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>The Planner</p>
          <br>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <h2>Popular Locations</h2>
        <ul class="list-group">
          <li class="list-group-item">Guiness Storehouse</li>
          <li class="list-group-item">Howth Village</li>
          <li class="list-group-item">O'Connell Street</li>
          <li class="list-group-item">Kilmainham Goal</li>
        </ul>
      </div>
      <div class="col-sm-6" style="background-color:white;">
        <div id="map" style="width:100%; height:400px;">
          <!-- google maps go here -->
        </div>
      </div>
      <div class="col-sm-3">
        <br>
        <form action="/tourist/formdata" method="get">
            
        <!--Input box for route number with autocomplete RTPI query-->  
          <div class="form-group">
            <p2>Bus Number:</p2>
            <input id="route_number" onkeyup="pred1()" list="route_list" class="form-control" type="text" placeholder="e.g. 46A" name="busnum_var" required>
            <datalist id="route_list"></datalist>
          </div>    
        <br>
          <!-- Input box for "from" with autocomplete RTPI query -->
          <div class="form-group">
            <p2>From:</p2>
            <input id="location" onkeyup="pred()" list="stop_list" class="form-control" type="text" placeholder="e.g. 736" name="from_var" required>
            <datalist id="stop_list"></datalist>   
          </div>
        <br>
            
            <!-- Input box for "to" with autocomplete RTPI query -->     
            <div class="form-group">
            <p2>To:</p2>
            <!-- AUTOCOMPLETE USER INPUT -->  
            <input id="location" onkeyup="pred()" list="stop_list" class="form-control" type="text" placeholder="e.g. 840" name="to_var" required>
            <datalist id="stop_list"></datalist>    
            </div>
        <br>
            
            
          <div class="form-group">
            <p2>When:</p2>
            <input class="form-control" type="text" placeholder="e.g. 12:30" name="when_var" required>
          </div>
        <br>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}