{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>The Explorer</p>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <div class="col-sm-4">
                    <p2>Transport</p2>

                        <img src="http://maps.google.com/mapfiles/ms/micons/bus.png">
                        <input id="TravelLinksCheck" type="checkbox">

                        <span class="checkmark"></span>
                  
                </div>


                <div class="col-sm-4">
                    <p2>Shopping          </p2>
                        <img src="http://maps.google.com/mapfiles/ms/micons/shopping.png">
                        <input id="ShoppingCheck" type="checkbox">
                        <span class="checkmark"></span>
                    
                </div>

                <div class="col-sm-4">
                    <p2>Activities</p2>
                        <img src="http://maps.google.com/mapfiles/kml/pal2/icon14.png">
                        <input id='ActivitiesCheck' type="checkbox">
                        <span class="checkmark"></span>
              
                </div>
            </div>

            <div class="col-xs-6">
                <div class="col-sm-4">
                    <p2>The Sights</p2>
                        <img src="http://maps.google.com/mapfiles/kml/pal2/icon2.png">
                        <input id='SightsCheck' type="checkbox">

                        <span class="checkmark"></span>
                 
                </div>

                <div class="col-sm-4">
                    <p2>Family&nbsp;&nbsp;&nbsp;&nbsp; </p2>
                        <img src="http://maps.google.com/mapfiles/ms/micons/hiker.png">
                        <input id='FamilyCheck' type="checkbox">
                        <span class="checkmark"></span>
               
                </div>


                <div class="col-sm-4">
                    <p2>Outdoors</p2>
                        <img src="http://maps.google.com/mapfiles/kml/pal2/icon4.png">
                        <input id="OutdoorsCheck" type="checkbox">
                        <span class="checkmark"></span>
             
                </div>
            </div>


            <div class="col-sm-12">

                <br></div>


        </div>


        <div class="row">

            <div class="col-sm-8" style="background-color:white;">
                <div id="map" style="width:100%; height:400px;">
                    <!-- google maps go here -->
                </div>
            </div>
            <br>
            <div class="col-sm-4">
                <form action="/tourist/formdata" method="get">
                    <!-- Input box for "from" with Google directions API -->
                    <div class="form-group">
                        <input id="location_from_ex"   class="form-control" type="text"
                               placeholder="Start Location" name="from_var_ex">
                        <datalist id="stop_list"></datalist>
                    </div>

                    <!-- Input box for "to" with Google directions API -->
                    <div class="form-group">
                        <!-- AUTOCOMPLETE USER INPUT -->
                        <input id="location_to_ex" class="form-control" type="text" placeholder="Destination" name="to_var_ex">
                        <datalist id="stop_list_ex"></datalist>
                    </div>

                    <!-- Input box for date -->
                    <div class="form-group">
                        <input id="datepicker_ex" class="form-control" type="text" placeholder="Date" name="date_var_ex"
                               required>
                    </div>

                    <!-- Input box for time -->
                    <div class="form-group">
                        <input id="clockpicker" class="form-control" class="clockpicker" type="time" placeholder="Time"
                               name="time_var_ex" value="00:00" required>
                    </div>

                    <button class="btn btn-primary" id ="exButton" type="submit">Submit</button>

                </form>

                <div id="datepicker"></div>

                <!--Script to render clockpicker and datepicker-->
                <script>
                    $(document).ready(function() {
                        $("input[type=time]").clockInput(false);
                        $("#datepicker_ex").datepicker({maxDate: new Date( 2018, 11, 31), minDate: new Date(), altField: "#selectDate"});
                    })

                </script>

            </div>
        </div>

         {% if error == 0 %}

            <div class="col-sm-6">
                <ul class="list-group">
                    <h2>Our Estimation</h2>
                    {% if from %}
                    <li class="list-group-item">From: {{ from }}
                    </li>
                    {% endif %}
                    {% if to %}
                    <li class="list-group-item">To: {{ to }}
                    </li>
                    {% endif %}
                    {% if date %}
                    <li class="list-group-item">Date: {{ date }}</li>
                    {% endif %}
                    {% if time %}
                    <li class="list-group-item">Time {{ time }}</li>

                    {% endif %}
                </ul>
            </div>

            {% else %}
            <!-- there's an error, display error messages -->
            <div class="col-sm-6">

                    <h2>Diddn't work</h2>

            </div>

            {% endif %}
    </div>


</div>

{% endblock %}
